<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/easysteps.css"/>
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.js"></script>
<script type="text/javascript" src="js/devicedrag.js"></script>
<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<title>Interactive Test</title>
</head>

<body>
<div id="wrapper">
  <h2>Activity 2: Learning the Parts of the Computer</h2>
  <p id="directions">Directions: Drag the right name to each part of the computer.</p>
  <div id="field"> 
    <!-- draggable items-->
    <ul class="draggable">
      <li id="mouse">Mouse</li>
      <li id="cpu">CPU</li>
      <li id="dvd">CD/DVD Drive</li>
      <li id="keyb">Keyboard</li>
      <li id="monitor">Monitor</li>
    </ul>
    <div class="clear-both"></div>
    
    <!-- targets-->
    
      <div id="device_pics">
      <div id="cpu_con" class="device_container">
          <div id="cpu_target" class="cpu"></div>
        </div>
        <div id="keyb_con" class="device_container">
          <div id="keyb_target" class="keyb"></div>
        </div>
           <div id="dvd_con" class="device_container">
          <div id="dvd_target" class="dvd"></div>
        </div>
        
    
        <div id="mouse_con" class="device_container">
          <div id="mouse_target" class="mouse"></div>
        </div>
        
         <div id="monitor_con" class="device_container">
          <div id="monitor_target" class="monitor"></div>
        </div>
        
      
      </div>
   
  </div>
  <!-- feedback-->
  <div id="feedback">
    <div id="feedback_icon" class="no_icon"></div>
    <div id="feedback_text"><span id="feedback_word"></span><span id="feedback_blurb"></span></div>
    <div class="clear-both"></div>
  </div>
</div>
</body>
</html>
